{{!-- refers to logged out users --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogginTechnologies</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
    <h1>
        <a href="/">BlogginTechnologies</a>
    </h1>
    <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <a href="/createpost" class="navbar-item">Create Post</a>
        <button id="logout" class="button is-primary">Logout</button>

        {{else}}
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        {{/if}}
    </nav>
</header>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Blog Postings</a>
            </h1>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>

    <script src='/javascript/logout.js'></script>
    {{!-- <script src='/javascript/create-post.js'></script> --}}
</body>

</html>